@tailwind base;
@tailwind components;
@tailwind utilities;

.link:hover .link-container {
  transform: translateY(-16px);
}

/* Rotate texts a little bit */
.link:hover .link-title1 {
  transform: rotate(20deg);
}

.link:hover .link-title2 {
  transform: rotate(0);
}

main {
  padding: calc(100vh / 6) calc(100vw / 12);
}
